@page
@model AxisMart.Prez.Ecommerce.Pages.LogoutModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    @* <meta http-equiv="refresh" content="2;url=/Account/Login" /> *@
    <title>خروج از حساب</title>
    <style>
        body {
            font-family: Tahoma, sans-serif;
            text-align: center;
            margin-top: 50px;
        }
    </style>
</head>
<body>
    <h3>شما از حساب خود خارج شدید...</h3>
    <p>در حال انتقال به صفحه ورود</p>
</body>
</html>